<header>
    <nav>
        <a href="/">AirWise</a>
        <ul>
            <li>
                <a href="/users">Login</a>
            </li>
            <li>
                <a href="/users/new">Sign-in/Sign-up</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                <a href="/booking">Flights</a>
            </li>
            <li>
                <a href="/contact">Customer-Care</a>
            </li>
        </ul>
    </nav>
</header>