<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        login/sign-up successful.
    </div> 
    <h1>Welcome to AirWise </h1>
    <p>Your onestop-destination for all flight ticket bookings!</p>
    <nav>
        <ul>
            <li>
                <a href="/search">search</a>
            </li>
            <li>
                <a href="/contact">Customer-Care</a>
            </li>
            <li>
                <a href="/booking">Flights</a>
            </li>
        </ul>
    </nav>
</body>
</html>