<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Airwise!</h1>
    <p>login or register to enter</p>
    <nav>
        <!-- <a href="/">AirWise</a> -->
        <ul>
            <li>
                <a href="/users">Login</a>
            </li>
            <li>
                <a href="/users/new">Sign-in/Sign-up</a>
            </li>
            <li>
                <a href="/contact">Customer-Care</a>
            </li>
        </ul>
    </nav>
</body>
</html>