<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Airwise!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #4CAF50;
            margin-bottom: 10px;
        }
        p {
            color: #666;
            margin-bottom: 20px;
            font-size: 18px;
        }
        nav {
            margin-top: 20px;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li:last-child {
            margin-right: 0;
        }
        nav ul li a {
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #4CAF50;
            transition: background-color 0.3s;
            display: inline-block;
        }
        nav ul li a:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to <span style="font-weight: bold;">Airwise!</span></h1>
        <p>Login or register to enter</p>
        <nav>
            <ul>
                <li>
                    <a href="/users">Login</a>
                </li>
                <li>
                    <a href="/users/new">Sign-in/Sign-up</a>
                </li>
                <li>
                    <a href="/contact">Customer Care</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>

