hello welcome to Airwise search!

<p>Search for the flight here</p>

<form action="/search" method="post">
    <div>
        <label for="flightID">enter flight ID</label>
        <input type="text" id="flighID" name="flightID" required>
    </div>
    <!-- <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div> -->
    <button type="submit">submit</button>
</form>

<!-- <a href="/users/new">Register</a> -->
