<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airwise Navigation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
        }
        nav {
            background-color: #333;
            padding: 10px 0;
            text-align: center;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        li {
            margin-right: 20px;
        }
        li:last-child {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            display: inline-block;
            transition: background-color 0.3s;
            border-radius: 5px;
        }
        a:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <!-- <li><a href="booking/flight_bookings">Flight Bookings</a></li> -->
            <li><a href="booking/pnr_enquiry">PNR Enquiry</a></li>
            <li><a href="booking/flight_insurance">Flight Insurance</a></li>
            <!-- <li><a href="booking/airline_info_schedules">Airline Information and Schedules</a></li> -->
            <li><a href="booking/offer_details">Offer Details</a></li>
        </ul>
    </nav>
</body>
</html>



