flight bookings
flight status
PNR enquiry
Flight Insurance
Airline information and schedules
offer details

<nav>
    <ul>
        <li>
            <a  href="booking/flight_bookings">flight bookings</a>
        </li>
    </ul>
</nav>

