.b2{
    background-color: red;
}

.b2 {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .b2::before, .b2::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .b2::before {
    top: -1em;
    left: -1em;
   }
   
   .b2::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .b2:hover::before, .b2:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .b2:hover {
    color: rgb(10, 25, 30);
   }
   
   .b2:active {
    filter: brightness(.8);
   }
   