
<form action="/users" method="post">
    <div>
        <label for="name">UserName</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">login</button>
</form>

<a href="/users/new">Register</a>
