New author

<form action="/users/new" method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="name">UserName</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>

<a href="/users">Login</a>